setuptools>=70.0.0
asgiref==3.8.1
boto3==1.35.94
botocore==1.35.94
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
dj-database-url==0.5.0
Django==3.2.25
django-allauth>=0.50.0
django-countries==7.2.1
django-crispy-forms==1.14.0
django-storages==1.14.4
djlint==1.36.3
EditorConfig==0.17.0
gunicorn==23.0.0
jmespath==1.0.1
jsbeautifier==1.15.1
oauthlib==3.2.2
pathspec==0.12.1
pillow==11.0.0
psycopg2==2.9.10
python3-openid==3.2.0
pytz==2024.2
regex==2024.11.6
requests-oauthlib==2.0.0
s3transfer==0.10.4
setuptools==75.7.0
sqlparse==0.5.3
stripe==11.4.1
tqdm==4.67.1
